//- this file is about the buffered code in pug
// this would the the first p tag that gets rendered
p= 'This is me'
//- 
  this would be the second paragraph
  and I've just done a block comment in pug
  that doesn't get rendered to the html output
p= 'This is my <b>cat</b>'
//
  this must be really cool to share with someone
  that reads the source code and looks into html
p!= 'This is my <strong>dog</strong>'