p this is my paragraph #[span this is fun]
|
|
p this is my paragraph #[span(class="awesome-class") this is fun]
|
|
p 
  | I can write cool stuff
  | tha can receive a buff
  | and my rhymes are not so good
  | cause I'm in a seelpy mood