- var nameList = ['Marian', 'Razvan', 'Maya']
- var numberList = ['Unu', 'Doi', 'Trei', 'Patru']
ul
  each name in nameList
    li= name
ul
  each number, key in numberList
    li #{key + 1} in Romanian is: #{number}