doctype html
html
  head
    title This is home
  body
    //- include menu
    .menu
      a.menu-link(href="/extends") home
    //- this is my unique page content
    h1 this is my home page
    //- include footer
    footer
      | &copy; 2018