//- include menu
.menu
  a.menu-link(href="/extends") home
  a.menu-link(href="/extends/about-me.html") about me
  a.menu-link(href="/extends/contact.html") contact
  a.menu-link(href="/extends/portfolio.html") portfolio
