- 
  var amount = 50
case amount
  when 0
  when 50
    p I'm going to do your project when I have time
    p I'm going to make some time and finish it this month
  when 500
    p I'm going to do it straight away
  default
    p let's chat a bit